---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Appointments | MUV Admin Portal">
  <h1 class="text-4xl px-6 py-4 mt-10 font-bold">Appointments</h1>
  <p class="text-xl px-6 py-8 leading-loose">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae cupiditate
    accusantium ipsa quam velit aliquam qui rerum corrupti, voluptas consectetur
    quis officia, beatae ea quisquam voluptates non quae nam deleniti laborum
    dolore optio similique facere magni possimus. Doloremque aspernatur qui quas
    vero? Exercitationem natus quasi ut, maxime magni iste fuga dolor doloribus
    ipsum minima explicabo rem esse necessitatibus quo, aperiam iusto.
    Temporibus debitis illum est provident vero officiis impedit error tempore
    magni, voluptas nesciunt neque natus asperiores odio earum. Delectus magnam
    laudantium totam doloribus sunt iusto enim iure maiores laborum asperiores
    cumque itaque commodi cum ullam quaerat facilis hic natus tenetur, unde, vel
    magni fuga. Explicabo molestiae, fugiat impedit quos reprehenderit quod
    dolorum quo nesciunt, eligendi ea dignissimos nam? Soluta nemo nam earum
    aliquam dignissimos velit, deleniti mollitia dicta ex asperiores sit
    consequatur repellat distinctio rerum esse, illo magni in odit? Vitae
    eveniet vel necessitatibus ipsum. Sed repellat, cupiditate aperiam inventore
    provident, cumque eius molestias facere itaque libero, quod velit aliquid
    culpa. Vitae quis dolorem adipisci consectetur labore est ut autem optio
    ipsam excepturi error totam tenetur illo, vero reiciendis modi, sint
    laudantium tempora. Itaque, unde laborum tempore nostrum quod voluptate
    error accusantium, necessitatibus at dolore amet adipisci nulla et.
  </p>
</Layout>
