---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dashboard | MUV Admin Portal">
  <h1 class="text-4xl px-6 py-4 mt-10 font-bold">Dashboard</h1>
  <p class="text-xl px-6 py-8 leading-loose">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam magni
    necessitatibus voluptatibus laudantium minima eos reiciendis alias id
    explicabo, qui, cupiditate, quia illum. Autem suscipit commodi error aliquid
    maxime ullam, molestiae blanditiis obcaecati esse deleniti. Et ut voluptatum
    esse at iure velit sequi, accusamus culpa autem. Nulla dicta modi quas ipsa
    aperiam rem, sapiente magni quibusdam eaque, repudiandae reprehenderit,
    rerum iusto? Asperiores recusandae voluptatibus sunt quidem ratione
    doloribus dicta quo magnam dolore amet iusto facere est a provident
    distinctio, commodi similique maxime aliquid? Assumenda provident dolor
    laborum ab corrupti dicta nobis esse cum, rerum quaerat enim ad est quos?
    Itaque aliquid, quaerat nisi nemo ipsum adipisci fugit obcaecati, animi
    libero voluptatum esse laboriosam est minus! Earum similique veniam ea ipsam
    eveniet cupiditate ad illo provident voluptas, quae inventore eaque nisi
    iste accusantium eum beatae aliquam, perferendis aspernatur doloribus
    maxime. Aut non doloribus modi unde. Inventore asperiores velit vel nemo
    suscipit. Voluptatum quibusdam natus illum, laborum molestiae perferendis
    doloribus quaerat nobis! Cupiditate voluptatum culpa voluptatibus? Repellat
    praesentium dignissimos enim explicabo adipisci expedita id! Corrupti
    similique possimus ipsam nihil magni, excepturi itaque maxime harum
    consectetur a voluptatem, ad quas sint fuga. Iure tenetur praesentium
    quisquam molestias natus officiis maxime quam suscipit nemo!
  </p>
</Layout>
