---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dashboard | MUV Admin Portal">
  <h1 class="text-4xl px-6 py-4 mt-10 font-bold">Dashboard</h1>
  <p class="text-lg px-6 mb-8 leading-relaxed">
    Welcome to the Admin Portal for The MUV Collective.
  </p>
</Layout>
