---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Patients | MUV Admin Portal">
  <h1 class="text-4xl px-6 py-4 mt-10 font-bold">Patients</h1>
  <p class="text-xl px-6 py-8 leading-loose">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore ullam
    quos dolores tenetur sit veniam deleniti porro eaque architecto ut magni
    enim eum ab magnam dolor ex, deserunt, velit aperiam nostrum ratione illum
    atque praesentium consectetur delectus! Quisquam asperiores odio perferendis
    aut consequuntur itaque eveniet tempore error distinctio autem provident
    officiis, repellendus non eaque eum nihil quidem minima consequatur suscipit
    aliquam obcaecati ad ipsa dolore! Natus blanditiis, iure dolores quos cumque
    commodi sed mollitia unde molestias voluptas! Harum rem iusto magni non
    distinctio sunt suscipit dolores, quasi atque soluta vel fugiat voluptates
    nam, perferendis ab deserunt laboriosam praesentium commodi impedit aliquam
    eligendi porro. Amet, in deleniti animi dolorum quasi expedita sapiente
    debitis dolore veniam commodi nisi non officia! Tempore, quaerat doloremque
    aperiam a veniam assumenda atque! Nobis corporis distinctio magni voluptatem
    odit culpa sed consequatur nisi? Minus facilis explicabo, commodi quasi
    facere ea, ad alias reiciendis maxime voluptate quod id, voluptates officia?
    Nulla saepe numquam modi, incidunt quibusdam ea quidem similique labore
    voluptas? Mollitia sapiente possimus ullam? Impedit ipsum iure cum repellat
    accusantium dolores consequuntur odit dolore placeat dolorem, deserunt
    numquam earum veniam fugiat a beatae quidem error delectus, quisquam, nihil
    corporis. Eaque rem culpa, eveniet fuga dicta perferendis voluptatum?
  </p>
</Layout>
