---
import { ViewTransitions } from "astro:transitions";
import Navbar from "../components/Navbar.svelte";

interface Props {
  title: string;
  page?: string;
}

const { title, page } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body>
    <Navbar site={Astro.url.pathname} page={page} client:load />
    <main class="relative translate-y-[74px] pb-8">
      <slot />
    </main>
  </body>
</html>
