---
import Layout from "../../layouts/Layout.astro";
import ProspectsTable from "../../components/ProspectsTable.svelte";
---

<Layout title="Prospects | MUV Admin Portal">
  <h1 class="text-4xl px-6 py-4 mt-10 font-bold">Prospects</h1>
  <ProspectsTable client:load />
  <p class="text-xl px-6 py-8 leading-loose">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci sit cumque
    vitae commodi, eius voluptatibus. Consectetur ea nostrum provident error
    voluptatibus dolorem quam pariatur mollitia, doloremque itaque rerum,
    assumenda officiis accusantium eius maxime architecto recusandae ducimus a
    eligendi amet expedita! Quas ipsa reiciendis blanditiis, eligendi iusto
    eveniet inventore natus ex id omnis quae, modi eius esse provident accusamus
    nihil tenetur repellendus animi adipisci repellat et velit corporis,
    consequuntur nemo! Tenetur sint quibusdam praesentium dolore quam a, id,
    quos provident ut facere aperiam magnam! Inventore, odit ipsam. Molestiae
    eaque, ducimus quod saepe sunt illum harum amet, quis illo beatae veritatis
    minima fugit pariatur, iste aliquam ipsa nobis quidem deserunt numquam! Fuga
    laborum itaque sunt, laudantium saepe officia quisquam obcaecati dicta
    facere ducimus, dolor ex sequi nulla inventore nobis perspiciatis est vero
    velit quae voluptate nemo. Pariatur in aut et autem nihil eum! Error odio
    voluptatibus facilis itaque numquam consectetur amet enim labore, doloribus
    consequatur dolor eum minima sapiente! Repellendus consequuntur nobis, animi
    qui minima deserunt possimus fuga eligendi sunt error voluptatibus sed iusto
    atque dolorem odit non assumenda perspiciatis. Asperiores, facilis repellat.
    Nesciunt odio, cupiditate sed sint dicta atque voluptate iusto consequatur
    pariatur perspiciatis qui quidem, temporibus omnis libero commodi! Quod!
  </p>
</Layout>
