---
import Layout from "../../layouts/Layout.astro";
import ProspectsTable from "../../components/ProspectsTable.svelte";
---

<Layout title="Prospects | MUV Admin Portal">
  <h1 class="text-4xl px-6 py-4 mt-10 font-bold">Prospects</h1>
  <p class="text-lg px-6 mb-8 leading-relaxed">
    Click on a prospective client below to view their details and send them an
    email.
  </p>
  <ProspectsTable client:load />
</Layout>
